{% extends 'AppMain/body.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'main/lib/datatables-1.10.20/css/jquery.dataTables.min.css' %}" />
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="{% static 'main/lib/jquery-3.5.1.js' %}"></script>
<link rel="stylesheet" href="{% static 'main/lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'main/lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" />
<script src="{% static 'main/lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'main/lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'main/lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'main/lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'main/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
<!-- JQuery confirm -->
<link rel="stylesheet" href="{% static 'main/lib/jquery-confirm/jquery-confirm.min.css' %}">
<script src="{% static 'main/lib/jquery-confirm/jquery-confirm.min.js' %}"></script>

{% block head_list %} {% endblock head_list %} {% endblock head %} {% block content %}
<div class="container-fluid">
    <div class="card card-default" style="width: fit-content;">
        <div class="card-header">
            <i class="fas fa-list"></i> {{ title }}
        </div>
        <div class="card-body">
            <!-- <table id="data" class="table table-striped table-bordered"> -->
            <!-- <table id="data" class="display dataTable" style="width: 100%;" role="grid"> -->
            <table id="data" class="table table-bordered" style="width:100%">
                <thead>
                    {% block columns %} {% endblock columns %}
                </thead>
                <tbody>
                    {% block rows %} {% endblock rows %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% block footer-buttons %}
            <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-plus"></i> Nuevo registro
            </a>
            <a href="{{ list_url }}" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-plus"></i> Actualizar
            </a>
            {% endblock footer-buttons %}

        </div>
    </div>
</div>
{% endblock content %} {% block javascript %}
<script type="application/javascript">
    $(function() {
        $('#data').DataTable({
            responsive: true,
            autoWidth: false
        });

        $('.btnTest').on('click', function() {
            $.ajax({
                url: "{% url 'category_list' %}",
                type: 'POST',
                data: {
                    id: 1
                }, // Probamos un nro id cualquiera
                dataType: 'json'
            }).done(function(data) {
                console.log(data);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function(data) {});
        });
    });
</script>
{% endblock javascript %}