{% extends 'AppMain/body.html' %}
<!-- Librería para incrustar atributos en los componentes -->
{% load widget_tweaks %} {% block content %}
<form method="POST" action="." enctype="multipart/form-data">
    <div class="card card-default md-4">
        <div class="card-header">
            {% if action == 'add' %}
            <i class="fas fa-plus"></i> {% else %}
            <i class="fas fa-edit"></i> {% endif %} {{ title }}
        </div>
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}" /> {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5>
                    <i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro
                </h5>
                <ul>
                    {% for field in form %} {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %} {% endfor %}
                </ul>
            </div>
            {% endif %} {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="text">{{ field.label }}</label>
                <!-- utilizamos la lib tweaks -->
                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
        <i class="fas fa-save"></i>
        {{ submitTitle }}
      </button>
            <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                <i class="fas fa-ban"></i> Cancelar
            </a>
        </div>
    </div>
</form>
<script>
    {% if form.errors %}
    var errors = ''; 
    {% for field in form %}
    {% for error in field.errors %}
    errors += '{{ error }}\n'; 
    {% endfor %} {% endfor %}

    Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error'
    }); 
    {% endif %}

    $('form').on('submit', function(e) {
        e.preventDefault();

        // var parameters = $(this).serializeArray();
        // Permite una colección de objetos del tipo file (imagenes, documentos, archivos)
        var parameters = new FormData(this);
        submit_with_ajax(window.location.pathname, 'Notificación',
            '¿Estas seguro de realizar la siguiente acción?', parameters,
            function() {
                location.href = '{{ list_url }}';
            });
    });
</script>

{% endblock content %}