<!-- Menu Contabilidad -->
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="fas fa-bezier-curve"></i>
        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
        <p>
            Módulo CONTABILIDAD
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-tachometer-alt"></i>
                <p>
                    Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-clipboard-list"></i>
                <p>
                    Gestión de Ingresos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-map-marked-alt"></i>
                </i>
                <p>
                    Gestión de Egresos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-map-marked-alt"></i>
                </i>
                <p>
                    Gestión de Inventario</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-map-marked-alt"></i>
                </i>
                <p>
                    Lista de Precios</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-map-marked-alt"></i>
                </i>
                <p>
                    Informes</p>
            </a>
        </li>
    </ul>
</li>