{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link elevation-4">
        <img src="{% static 'main/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">HARES</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-4 pb-3 mb-3 d-flex">
            <div class="image">
                <!-- Obtenemos la imagen desde el perfil del usuario -->
                <img src="{{ request.user.get_image }}" class="img-circle elevation-2" alt="User Image">
            </div>

            {% if request.user.is_authenticated %}
            <div class="info">
                <a href="{% url 'dashboard' %}" class="d-block">{{ request.user.first_name }}
                    {{ request.user.last_name }}</a>
            </div>
            {% endif %}
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-4">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-header">OSVET - Sistema de Gestión</li>
                {% if request.user.is_admin %} {% include 'AppMain/Profiles/profileAdmin.html' %} {% endif %} {% if request.user.is_conta %} {% include 'AppMain/Profiles/profileConta.html' %} {% endif %} {% if request.user.is_comer %} {% include 'AppMain/Profiles/profileComer.html'%}
                {% endif %} {% if request.user.is_oper %} {% include 'AppMain/Profiles/profileOper.html' %} {% endif %} {% if request.user.is_tester %} {% include 'AppMain/Profiles/profileTester.html' %} {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>