{% extends 'AppMain/home.html' %}
{% load static %}

{% block body %}

<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" style="height: auto; ">
    <!-- Site wrapper -->
    <div class="wrapper">

        {% include "AppMain/header.html" %}

        <!-- Main Sidebar Container -->
        {% include 'AppMain/AppMainMenu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            {% block content %}

            {% endblock content %}

        </div>
        <!-- /.content-wrapper -->

        {% include 'AppMain/footer.html' %}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    {% block javascript %}

    {% endblock javascript %}
</body>

{% endblock body %}