{% extends 'AppMain/body.html' %} {% load widget_tweaks %} {% block content %}
<form method="post" action=".">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> Creacion de productos con FORMSETS
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %} {{ form.management_form }} {% for fo in form %}
            <div class="form-group">
                {{ fo.as_table }}
            </div>
            <hr> {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar registro
            </button>
        </div>
    </div>
</form>
{% endblock %}
<script>
</script>